h2{
    border-bottom: 1px solid white;
    color: white;
    padding-bottom: 10px;
}
h3{
    color: brown;
}

form{
    background-color: gray;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0 50px 25px;
    padding: 10px 25px 25px;
    text-align: center;
    transform: scale(1);
    transition: .3s transfrom;
}

form:hover{
    transform: scale(1.02);
}

button{
    background-color: rgb(103, 83, 83);
    border: 1px solid transparent;
    border-radius: 8px;
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: border-color 0.1s;
}

button:hover{
    border-color: brown
}

button[disabled]{
    opacity: 0.5;
}

img{
    margin: 0;
    width: 200px;
    height: 200px;
    align-self: flex-start;
}